<div class="navbar">
	<div class="navbar-inner">
		<a class="brand">Twitter List Manager</a>
	</div>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span8 offset2">
			<div id="user"></div>
		</div>
	</div>
</div>
